* {
    margin: 0;
    padding: 0;
    font-family: "Monsterrat", sans-serif;
}

.top {
    display: flex;
    padding: 15px 140px;
    justify-content: space-between;
}

.top__menu {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.top__link {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px;
    line-height: 17px;
    margin-left: 20px;
}

.top__select {
    border: none;
    appearance: none;
    background-image: url("img/choice_arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

/*Это единственное, что я смогла придумать с кнопками, но они всё равно кривые*/

.sign-in-link, .sign-up-link {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    background-image: url("img/top_button_border.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.sign-in-link {
    color: #BC9CFF;
    padding: 9px 20px;
}

.sign-up-link {
    color: #FFFFFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 8px 20px 8px;
}

.room {
    background-image: url("img/background-main.jpg");
    padding-top: 70px;
}

.room__form {
    margin-left: 141px;
    background-image: none;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 40px 30px 30px;
    width: 380px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.room__header-font {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
}

.room__checking {
    display: flex;
    flex-direction: column;
}

.checking-margin {
    margin-top: 20px;
}

.room__date {
    display: flex;
}

.room__label {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    font-weight: bold;
    margin-bottom: 5px;
}

.room__input {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Monsterrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    padding: 11px 15px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
  }

.room__button {
    margin-top: 31px;
}